<div>
    <div>From: <%= flight.origin %></div>
    <div>To: <%= flight.destination %></div>
    <div>Departure: <%= flight.departure_time %></div>
    <div>Arrival: <%= flight.arrival_time %></div>
    <div>Date: <%= flight.date_of_journey %></div>
    <div>Price: Rs.<%= flight.price %></div>
</div>
