<div class="flight-description">
    <div class="col-xs-12 col-md-6">From: <%= flight.origin %></div>
    <div class="col-xs-12 col-md-6">To: <%= flight.destination %></div>
    <div class="col-xs-12 col-md-6">Departure: <%= flight.departure_time %></div>
    <div class="col-xs-12 col-md-6">Arrival: <%= flight.arrival_time %></div>
    <div class="col-xs-12 col-md-6">Date: <%= flight.date_of_journey %></div>
    <div class="col-xs-12 col-md-6">Price: Rs.<%= flight.price %></div>
</div>
